@font-face {
  font-family: "StarJedi";
  src: url("./assets/fonts/SfDistantGalaxy-0l3d.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
}

html, body {
  overflow: hidden;
}

body {
  font-family: "StarJedi", sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  background: url("/background.jpg") no-repeat center center fixed;
  background-size: cover;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 300px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border-right: none;
  text-align: center;
  line-height: 1.2;
}

.content {
  flex: 1;
  padding: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: xx-large;
}

h1 {
  text-shadow: 3px 3px 10px yellow, -3px -3px 10px orange;
  letter-spacing: 2px;
  font-size: xx-large;
  transform: translateX(-70px);
}

h2 {
  font-size: x-large;
  transform: translateX(15px);
  text-shadow: 3px 3px 10px yellow, -3px -3px 10px orange;
  letter-spacing: 2px;
}

p {
  color: white;
  font-size: 18px;
}

.sidebar input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  outline: none;
  text-align: center;
  font-size: 16px;
}

ul {
  line-height: none;
  list-style: none;
  padding-left: 0;
}

ul li {
  margin-bottom: 20px;
}

ul li::before {
  content: "-";
}

#selectmovie {
  color: #ffcc00;
  font-style: italic;
  text-align: center;
}

#selected-movie {
  margin-top: 50px;
}

.control {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin: 5px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.3);
}

.control:hover {
  background-color: #0056b3;
}

.control[type="text"] {
  background-color: white;
  color: rgb(255, 255, 255);
  border: 1px solid #ccc;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 80%;
}
